@use 'variables';

footer{
    background-color: variables.$dark-blue;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: subgrid;

    nav{
        padding: 2rem 0;
        grid-column: 2 / 4;
        grid-row: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            display: block;
            max-width: 5.563rem;
        }
    }
}