header {
    z-index: 1000;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 5vw;

    nav{
        padding: 1rem 0;
        grid-column: 2 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            display: block;
            max-width: 5.563rem;
        }
    }
}