$dark-blue: #13183F;
$white: #FFFFFF;
$gray: #83869A;
$pink: #F74780;
$g-gray: linear-gradient(0deg, rgba(215,217,255,1) 0%, rgba(240,241,255,1) 37%, rgba(255,255,255,1) 100%);
$g-orange: linear-gradient(#FF6F48, #F02AA6);
$g-purple: linear-gradient(#F02AA6, #4851FF);

$jakarta: 'Plus Jakarta Sans', sans-serif;